@import '~bootstrap/scss/bootstrap';

body {
  font-size: 0.8em;
}

.container {
  nav {
    margin-bottom: 1rem;
  }
  table {
    margin-bottom: 2rem;
  }
}

.teamDiv {
  position: relative;
}

.favHeart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

table.games {
  font-size: 0.9em;
  margin-bottom: 0;
}

td.gamesCell {
  padding: 1em
}

tr>td.result-W {
  @extend .table-success
}

tr>td.result-L {
  @extend .table-danger
}

tr>td.result-D {
  @extend .table-warning
}

tr.highlight {
  background-color: #bee5eb!important;
}

.highlightCol {
  border: solid black;
  border-width: 0 2px 0 2px;
  background-color: #bee5eb;
}